.page3 {
    font-family: 'Roboto', sans-serif;
    h2 {
        font-size: 35px;
        font-weight: 500;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        input, textarea {
            border: 0;
            height: 40px;
            padding-left: 20px;
            font-size: 14px;
            font-weight: 500;
            color: #0000008d;
        }
    }

}