.rectangles {
    height: 500px;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
        text-decoration: none;
        .rectangle {
            background-color: #1a1a1a;
            padding: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            &:hover {
                background-color: #ffb606;
                img {
                    filter: brightness(100);
                }
            }
            img {
                width: 60px;
            }
            h2, .view {
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin: 0;
            }
            .view {
                cursor: pointer;
                text-transform: uppercase;
                font-size: 12px;
                text-decoration: none;
                margin-top: 10px;
            }
        }
    }
}
.register-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 100px;
}
.register {
    margin-top: 100px;
    background-color: #ffb606;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    .main.wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 100px 0;
        h2 {
            text-align: center;
            font-weight: 500;
            font-size: 20;
            line-height: 1.5;
            margin:0;
            span {
            color:#000;
            }
            
        }
        p {
            line-height: 2;
            color: #fff;
            text-align: center;
            font-size: 12px;
            margin:0;
        }
    }
}

.search {
    background-image: url(../images/search_background.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
     
        background:#fff;
        background: rgba(255, 255, 255, 0.571);
    
        filter:blur(10px);
        -o-filter:blur(10px);
        -ms-filter:blur(10px);
        -moz-filter:blur(10px);
        -webkit-filter:blur(10px);
    }
    
    .main.wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        z-index: 1;
        h2 {
            text-align: center;
            font-weight: 500;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            input {
                border: 0;
                height: 40px;
                padding-left: 20px;
                font-size: 14px;
                font-weight: 500;
                color: #0000008d;
            }
        }
        button {
            background-color: #ffb606;
        }
    }
}

.services {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: repeat(1fr, 6);
    gap: 30px;
    .service {
        img {
            width: 40px;
        }
        h3 {
            font-size: 20px;
            font-weight: 500;
        }
        p {
            font-size: 14px;
            font-weight: 500;
            color: #979797;
            line-height: 2;
        }
    }
}

.student {
    background-image: url(../images/testimonials_background.jpg);
    background-size: 400%;
    background-position-x: 55%;
    background-position-y: 90%;
    padding: 90px 0;
    margin-bottom: 100px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    &::after {
        content: '';
        z-index: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #000000b0;
    }
    .main.wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            z-index: 1;
            color: #fff;
            position: relative;
        }
        h3 {
            z-index: 1;
            text-align: center;
            color: #ffb606;
            position: relative;
            font-size: 40px;
            font-weight: 400;
        }
        p {
            z-index: 1;
            position: relative;
            text-align: center;
            line-height: 2;
            color: #fff;
            font-size: 14px;
            margin-bottom: 40px;
        }
        .cooper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            h3 {
                font-size: 16px;
                margin: 0;
            }
            p {
                margin: 0;
                line-height: normal;
            }
            img {
                position: relative;
                z-index: 1;
                border-radius: 100%;
            }
        }
        
    }  
}

.events {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 50px;
    .event {
        img {
            width: 100%;
        }
        .date {
            color: #ffb606;
            font-size: 14px;
            font-weight: 500;
            height: 100px;
            width: 100px;
            border: 2px #ffb606 solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            span {
                font-weight: 600;
                font-size: 30px;
            }
        }
        .text {
            a {
                text-decoration: none;
                color: #000;
                font-weight: 500;
                font-size: 23px;
                @include transition;
                &:hover {
                    color: #ffb606;
                    @include transition;
                }
            }
            h4 {
                margin: 10px 0;
                font-size: 14px;
                font-weight: 500;
            }
            p {
                color: #979797;
                font-size: 13px;
                font-weight: 500;
                line-height: 2;
            }
        }
    }
    
}
